.dialogButton {
    width: 100%;
    font-family: Gotham Light;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--button);
    color: white;
    border: none;
    margin-bottom: 10px;
    height: 30px;
    outline: none;
}

.dialogButton:hover{
    background-color: var(--hover);
    cursor: pointer;
}

.ueberschrift {
    font-family: gotham light;
    font-size: 24px;
    margin: 0;
}