.container
{
	font-family: gotham bold;
	font-size: 48px;
	margin-bottom: 5px;
	text-align: left;
	width: max-content;
}
.inner-container
{
	display: inline-block;
}
.title
{
	font-family: gotham bold;
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 5px;
	padding-left: 0;
	text-align: left;
}
.subtitle
{
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: left;
}