<div fxLayout="column" class="div-input">
  <app-custom-input (inputValue)="this.altesPasswort = $event" [selectedValue]="altesPasswort" [formName]="'ALTES PASSWORT*'"
    [type]="'password'" [validierungMessage]="validierungsMsgAltesPdwKorrekt" [isValid]="altesPasswortValid">
  </app-custom-input>
</div>
<div fxLayout="column" class="div-input">
  <app-custom-input (inputValue)="this.neuesPasswort = $event" [selectedValue]="neuesPasswort" [formName]="'NEUES PASSWORT*'"
    [type]="'password'" [validierungMessage]="validierungsMsgPwdWdh" [isValid]="neuesPasswortValid">
  </app-custom-input>
</div>
<div fxLayout="column" class="div-input">
  <app-custom-input (inputValue)="this.neuesPasswortWdh = $event" [selectedValue]="neuesPasswortWdh" [formName]="'NEUES PASSWORT*'"
    [type]="'password'" [validierungMessage]="validierungsMsgPwdWdh" [isValid]="neuesPasswortWdhValid">
  </app-custom-input>
</div>
<mat-dialog-actions>
  <button class="dialogButton"(click)="closeDialog()">
    Passwort ändern
  </button>
  <button class="dialogButton" mat-dialog-close mat-dialog-close="true">
    Abbrechen
  </button>
</mat-dialog-actions>
