.eingabe-form
{
	height: 45px;
	width: 100%;
}
.eingabe-form-full-width
{
	width: 100%;
}
.input-unterschrift
{
	color: var(--font);
	font-family: gotham bold;
	font-size: 18px;
	line-height: 18px;
}
input
{
	font-size: 16px;
}