<div id="header-outer">
  <div fxLayout="row">
    <app-view-title-and-subtitle [title]="'Verwaltung'" [subtitle]="'Verwaltung der User'">
    </app-view-title-and-subtitle>
    <div id="buttons-outer" style="position: relative;">
      <app-icon-button [iconName]='"add"' [buttonSizeBig]="false" [unterschrift]="'User anlegen'"
        (clickEvent)="btnUserAnlegen()"></app-icon-button>
      <app-icon-button [iconName]='"settings"' [buttonSizeBig]="false" [unterschrift]="'Verwaltungsübersicht'"
        route='/VerwaltungHome'>
      </app-icon-button>
    </div>
  </div>
</div>
<div fxLayout="column" style="margin-bottom: 20px;">
  <app-custom-table (tableRowClicked)="userRowClick($event)" *ngIf="loaded" [tableData]="user"
    [tableColumns]="userColumns" [tableHeaders]="userDisplayedHeader"></app-custom-table>
</div>
