<div id="header-outer">
  <div fxLayout="row">
    <app-view-title-and-subtitle [title]="'Verwaltung'" [subtitle]="'Verwaltung der Kostenstellen'">
    </app-view-title-and-subtitle>
    <div id="buttons-outer" style="position: relative;">
      <app-icon-button [iconName]='"add"' [buttonSizeBig]="false" [unterschrift]="'Kostenstelle anlegen'"
        (clickEvent)="btnKostenstelleAnlegen()"></app-icon-button>
      <app-icon-button [iconName]='"settings"' [buttonSizeBig]="false" [unterschrift]="'Verwaltungsübersicht'"
        route='/VerwaltungHome'>
      </app-icon-button>
    </div>
  </div>
</div>
<div fxLayout="column" style="margin-bottom: 20px;">
  <app-custom-table (tableRowClicked)="kostenstelleRowClick($event)" *ngIf="loaded" [tableData]="kostenstellen"
    [tableColumns]="kostenstellenColumns" [tableHeaders]="kostenstelleDisplayedHeader"></app-custom-table>
</div>
